{
    "NAME": "LOVED",
    "HOLDINGS": {
        "AIEQ": [
            9.17532,
            35.81
        ],
        "BABA": [
            5.23245,
            200.23
        ],
        "CVS": [
            5.65851,
            23.23
        ],
        "GE": [
            50.7605,
            4.43
        ],
        "GLTR": [
            2.51881,
            50.10
        ],
        "MGC": [
            1.90262,
            80.71
        ],
        "MSFT": [
            1.51607,
            200.73
        ],
        "NIO": [
            4.7696,
            35.40
        ],
        "TWTR": [
            6.63278,
            45.23
        ],
        "ZNGA": [
            5.24136,
            9.54
        ]
    }
}