{
    "NAME": "STASH",
    "HOLDINGS": {
        "AAPL": [
            20,
            80.22
        ],
        "AI": [
            5,
            90.59
        ],
        "APHA": [
            117,
            4.52
        ],
        "BAC": [
            30,
            15.02
        ],
        "CHWY": [
            10,
            70.47
        ],
        "DAL": [
            21,
            31.89
        ],
        "F": [
            25,
            8.6
        ],
        "FB": [
            10,
            175.00
        ],
        "LYFT": [
            25,
            35.54
        ],
        "SQ": [
            10,
            80.73
        ],
        "TSLA": [
            20,
            125.00
        ],
        "XPEV": [
            21,
            23.3
        ],
        "ZM": [
            3,
            262.58
        ]
    }
}