{
    "NAME": "WEBULL",
    "HOLDINGS": {
        "ABNB": [
            7,
            125.00
        ],
        "ADT": [
            4,
            8.840
        ],
        "CCIV": [
            100,
            22.000
        ],
        "DASH": [
            10,
            124.40
        ],
        "NKLA": [
            25,
            18.85
        ],
        "RBLX": [
            20,
            69.00
        ],
        "ZNGA": [
            150,
            6.575
        ]
    }
}